{% extends "base.html" %}

{% block title %}Создание нового тикета{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="page-header">
        <h3>Создание нового тикета для события {{ event.event_name }}</h3>
    </div>
    {% if user.is_authenticated %}
        <form id="user_form" method="post" action="{% url 'bugs:addTicket' event.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ new_ticket_form.non_field_errors }}
            {{ new_ticket_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Сохранить" />
        </form>
    {% endif %}
</div>
{% endblock %}