{% extends "base.html" %}

{% block title %}Список заведенных тикетов{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Список заведенных тикетов</h3>
    </div>
    {% load staticfiles %}
    {% if all_tickets_list %}
        <ul>
        {% for ticket in all_tickets_list %}
            <li>{{ ticket.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tickets are available.</p>
    {% endif %}
</div>
{% endblock content%}