{% extends "base.html" %}

{% block title %}Создание нового тикета{% endblock %}

{% block navigation %}
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <nav>
                    <ul class="nav nav-pills pull-left">
			        {% if user.is_authenticated %}
                        <li role="presentation"><a href="{% url 'logout' %}">Выйти</a></li>
			        {% else %}
				        <li role="presentation" class="active"><a href="#">Регистрация</a></li>
				        <li role="presentation"><a href="{% url 'login' %}">Войти</a></li>
			        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4"></div>
    </div>
{% endblock %}

{% block section_title %}
Создание нового тикета для события {{ event.id }}
{% endblock section_title %}

{% block content %}
{% load staticfiles %}
<h1>{{ ticket.title }}</h1>
{% endblock %}