{% extends "base.html" %}

{% block title %}33 тестера - Главная страница{% endblock %}

{% load static from staticfiles %}
{% block logo %}<img class="logo" src="{% static "img/logo_33_testers_13_03.png" %}">{% endblock logo %}

{% block navigation %}
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <nav>
                    <ul class="nav nav-pills pull-left">
			        {% if user.is_authenticated %}
                        <span>Вы вошли как <a href="{% url 'cabinet:view_cabinet' user.id %}">{{ user.username }}</a>.</span>
                        <li role="presentation"><a href="{% url 'logout' %}">Выйти</a></li>
			        {% else %}
				        <li role="presentation"><a href="{% url 'register' %}">Регистрация</a></li>
				        <li role="presentation"><a href="{% url 'login' %}">Войти</a></li>
			        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4"></div>
    </div>
{% endblock navigation %}

{% block section_title %}
{% endblock section_title %}

{% block content %}
<div>
		{% if next_events_list %}
            <table>
                <caption>Следующие события:</caption>
                <th>Событие</th>
                <th>Время</th>
                <th>Макс число участников</th>
                <th>Число зарег участников</th>
                <th>Кнопки</th>
                    {% for event in next_events_list %}
				        <tr>
                            <td><a href="{% url 'events:event' event.id %}">{{ event.event_name }}</a></td>
                            <td>{{ event.start_time }} - {{ event.end_time }}</td>
                            <td>{{ event.max_participants_number }}</td>
                            <td>{{ event.current_participants_number }}</td>
                            <td>
                                {% if user.is_authenticated %}
                                    {% if event not in registered_event_list %}
                                        <a href="{% url 'events:add_participant' event.id %}">Участвовать</a>
                                    {% else %}
                                        <a href="{% url 'events:delete_participant' event.id %}">Не участвовать</a>
                                    {% endif %}
                                {% else %}
                                        <a href="{% url 'events:add_participant' event.id %}">Участвовать</a>
                                {% endif %}
                            </td>
                            <td><a href="#">Следить</a>/<a href="#">Не следить</a></td>
                        </tr>
			        {% endfor %}
            </table>
        {% else %}
            <p>No events are available.</p>
        {% endif %}
</div>
{% endblock %}


