{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block navigation %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav active"><a href="#">Регистрация</a></li>
      <li class="nav"><a href="{% url 'login' %}">Войти</a></li>
    </ul>
</div>
{% endblock %}

{% block section_title %}
{% endblock section_title %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Регистрация</h3>
    </div>
    {% if registered %}
        <strong>Спасибо за регистрацию!</strong> <br />
    {% else %}
        <form id="user_form" method="post" action="{% url 'register' %}"
            enctype="multipart/form-data">
        <div class="form-group">
        {% csrf_token %}
        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ user_form.as_p }}
        </div>
        {{ profile_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Зарегистрироваться" />

        </form>
    {% endif %}
</div>
{% endblock %}