{% extends "base.html" %}

{% block title %}Список переписок{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'cabinet:view_cabinet' user.id %}">Личный кабинет</a></li>
        <li><a href="{% url 'mess:view_messages_page'%}">Сообщения</a></li>
        <li class="active">Список переписок</li>
    </ol>
    <div class="page-header">
        <h3>Список переписок пользователя</h3>
    </div>
    {% load staticfiles %}
    {% if threads_to_display %}
        <ul>
        {% for thread in threads_to_display %}
            <li>{{ thread.1|date:"D d M Y" }} {{ thread.1|time:"H:i" }}: {{ thread.0 }}:  {{ thread.2 }}
                <a href="{% url 'mess:view_thread' thread.3 %}">Просмотреть</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет переписок</p>
    {% endif %}
</div>
{% endblock content%}