{% extends "base.html" %}

{% block title %}Список переписок{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'cabinet:view_cabinet' user.id %}">Личный кабинет</a></li>
        <li><a href="{% url 'mess:view_messages_page'%}">Сообщения</a></li>
        <li class="active">Список переписок</li>
    </ol>
    <div class="page-header">
        <h3>Список переписок пользователя</h3>
    </div>
    {% load staticfiles %}
    {% if threads_last_messages %}
        <ul>
        {% for message in threads_last_messages %}
            <li>
                {% if message.1 %}
                    <span class="label label-success">{{ message.1 }}</span>
                {% endif %}
                {{ message.0.creation_time|date:"D d M Y" }} {{ message.0.creation_time|time:"H:i" }}:
                    {% if message.0.from_user == user %}
                        вы
                    {% else %}
                        {{ message.0.from_user }}
                    {% endif %}
                    >
                    {% if message.0.to_user == user %}
                        вам
                    {% else %}
                        {{ message.0.to_user }}
                    {% endif %}
                    : {{ message.0.text }}
                <a href="{% url 'mess:view_thread' message.0.thread.id %}">Просмотреть</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Нет переписок</p>
    {% endif %}
</div>
{% endblock content%}