{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="page-header">
        <h3>Редактирование профиля {{ user.username }}</h3>
    </div>
    {% if user.is_authenticated %}
        <form id="user_form" method="post" action="{% url 'cabinet:edit_profile' user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.non_field_errors }}
            {{ user_form.username.label }} {{ user_form.username }}<br>
            {% if show_unique_username_error %}
                {{ user_form.username.errors }} <br>
            {% endif %}
            {{ user_form.email.label }} {{ user_form.email }}<br>
            {{ user_form.email.errors }} <br>
            {{ profile_form }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Сохранить" />
        </form>
    {% endif %}
</div>
{% endblock %}