{% extends "base.html" %}

{% load staticfiles %}
{% block custom_static %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
    <link href="{% static "css/event_styles.css" %}" rel="stylesheet">

    <script src='{% static "js/react.js" %}'></script>
    <script src='{% static "js/react-dom.js" %}'></script>
    <!--<script src='{% static "js/require.js" %}'></script>-->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js'></script>-->
    <script src='{% static "js/browser_babel.js" %}'></script>
{% endblock custom_static %}

{% block title %}{{ event.event_name }}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li><a href="{% url 'events:events' %}">События</a></li>
        <li class="active">{{ event.event_name }}</li>
    </ol>
    <div class="page-header">
            <h3>{{ event.event_name }}</h3>
        </div>
    <div class="well">
        {{ event.description }}
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2" id="statistics">
            <!--<h4>Статистика</h4>-->
            <!--<p>Ромко - 5</p>-->
            <!--<p>Ваня - 10</p>-->
            <!--<p>Санька - 15</p>-->
            <!--<p>Сергей - 3</p>-->
        </div>
        <div class="col-md-8 col-sm-8">
            <div id="user_list"></div>
            <div id="new_chat"></div>
        </div>
        <div class="col-md-2 col-sm-2" id="actions">
            <!--<h4>События</h4>-->
            <!--<div id="content"></div>-->
            <!--<p>10:00 - Заведен баг №100</p>-->
            <!--<p>10:15 - Заведен баг №101</p>-->
            <!--<p>10:16 - Заведен баг №103</p>-->
            <!--<p>10:16 - Заведен баг №104</p>-->
            <a href="{% url 'bugs:addTicket' event.id %}">Завести баг</a>
        </div>
    </div>

</div>
{% endblock %}

{% block more_scripts %}
    <script src='{% static "js/EventEmitter.js" %}'></script>
    <script>
        // global variable that shares messsages received from django view is json serialized format
        //var messages_from_django_view = "{{ messages|escapejs }}";
        // new way of importing messages from django view - with dictionary of dictionaries with key = message id:
        var messages_dict_from_django_view = "{{ messages_dictionary|escapejs }}";
        var users_from_django_view = "{{ online_users|escapejs }}";
        //парсим json и получаем из него js объекты с сообщениями:
        //var messages_obj = JSON.parse(messages_from_django_view);
        var messages_dict_obj = JSON.parse(messages_dict_from_django_view);
        var users_obj = JSON.parse(users_from_django_view);
        var user_is_authenticated = 0;
        var user_name = 0;
    {% if user.is_authenticated %}
        user_is_authenticated = 1;
        user_name = "{{ user.username|escapejs }}";
    {% else %}
        user_name = "";
        console.log("user is not authenticated");
    {% endif %}
    </script>
    <script src='{% static "js/event_chat.js" %}' type="text/babel"></script>
    <!--<script src='{% static "js/multichat.js" %}' type="text/babel"></script>-->
    <script src='{% static "js/reconnecting-websocket.min.js" %}' type="text/javascript"></script>
{% endblock more_scripts %}