{% extends "base.html" %}

{% block title %}События{% endblock %}

{% block content %}
<div class="container">
	<ol class="breadcrumb">
        <li><a href="{% url 'main' %}">Главная</a></li>
        <li class="active">События</li>
    </ol>
    <div class="page-header">
        <h3>Cобытия</h3>
    </div>
	{% if next_events_list %}
		<ul>Следующие события:
		{% for event in next_events_list %}
			<li><a href="{% url 'events:event' event.id %}">{{ event.event_name }}</a></li>
		{% endfor %}
		</ul>
		{% else %}
			<p>No events are available.</p>
	{% endif %}
</div>
{% endblock %}